{% extends 'layout/base.html' %} 
{% block title %} Добавить предмет {% endblock title %} 

{% block content %}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Добавить прдемет</h3>
        <div class="row">
          <div class="col-md-12">
            <form action="" method="post" enctype="multipart/form-data">
              {% csrf_token %} {{ form.as_p }}
              <button type="submit" class="btn btn-primary">
                Отправить
              </button>
              <a class="btn btn-info" href="{% url 'subjects:subjects_view' %}">Список предметов</a>
            </form>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>  
{% endblock content %}
